<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js" %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css' %>
  <meta name="description" content="">
  <meta name="author" content="">
  </head>
  <title>Geocode Points</title>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="admin">Geocode Points</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-12 col-sm-6 mb-12">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">Generate random geocode points and adding this points to nearest basket </div>
            </div>
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
                <button type="button" class="btn btn-secondary" id="regenerate" onclick="regenerate()">Regenerate Points</button>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div style="height: 50px;"></div>
      <div id="map" style="height: 330px; width: 1250px;">
      </div>
      </div>
        </div>
      </div>
</body>

<script>
  var map = null ;
  var marker = null ; 
  
// for regenerating points
  function regenerate() {
    $.ajax({
    url: '/regenerate',
    type: 'GET',
    success: function() {
      console.log("success")
      location.reload()
    },
    error: function(e) {
      console.log(e,"error")
    }
    });

  }

  function visualition() {
    // for map view
      map = L.map('map').setView([<%=@center_lat%>, <%=@center_lng%>], 12);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18
      }).addTo(map);
      <% JSON.parse(@json_result).each do |point| %>
        marker = L.marker([<%=point["lat"]%>, <%=point["lng"]%>]).addTo(map).bindPopup("BASKET_NUM#<%=point["basket_num"]%>"); 
      <% end %>
    }

    if(map == null) {
    visualition();
    }

</script>
</html>